section{
    position: relative;
    margin-top: 70px;
    margin-left: 200px;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
.Side{
    margin-left: 0px ;
    transition: 0.5s;
}
article{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
article div{
    width: 100%;
    cursor: pointer;
}
article div img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
article div h2{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 5px 0;
}
article div h3{
    font-size: 14px;
  font-weight: 600;
  color: #555;
  margin: 6px 0;
}
article div p{
    font-size: 14px;
    color: #5a5a5a;
}
@media screen and (max-width:900px) {
    article{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:800px) {
    article{
        grid-template-columns: repeat(3,1fr);
    }
    section{
        margin-left: 0px;
    }
}
@media screen and (max-width:800px) {
    article{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:450px) {
    article{
        grid-template-columns: repeat(1,1fr);
    }
}